/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/




/* ------------------------------- 1. Global Styles -------------------------------- */

h1,h2,h3,h4 {
    font-family: 'Merriweather', serif;
    color: white;
}

ul {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.6rem;
}

button {
    font-family: 'Roboto', sans-serif;
    background: #ED4385;
    border: none;
    color: white;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem 2rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.144);
}

button:hover {
    cursor: pointer;
}


header {
    background: linear-gradient(#4845E4,#5722CD);
}

.frontpage_article {
    padding: 10rem;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.squiggle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}




/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */