/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/




/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --paars: #5722CD;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lightgrijs: #F3F6F9;
    --grijs: #7A7A7A;
  }

h1,h2,h3,h4 {
    font-family: 'Merriweather', serif;
    color: white;
}

ul {
    color: var(--lichtpaars);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--zwart);
    font-size: 1.6rem;
}

button {
    font-family: 'Roboto', sans-serif;
    background: var(--roze);
    border: none;
    color: white;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem 2rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.144);
}

button:hover {
    cursor: pointer;
}


header {
    background: linear-gradient(var(--blauw), var(--paars));
}

.frontpage_article {
    padding: 10rem;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-div > p {
    color: white;
}

.squiggle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

main {
    background: var(--lightgrijs);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption-text > p {
    font-size: 1.3rem;
    color: var(--zwart);
    text-align: center;
    
}

.text_section {
    width: 40vw;
    padding: 15rem;
}

.text_section > .text > p {
    font-size: 2.4rem;
    text-align: center;
    color: var(--paars);
    font-weight: 800;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
}

.item {
    width: 20vw;
    height: 45vh;
    margin: 1rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.items > .item > figure > img {
    width: 5rem;
    height: 5rem;
}

.items > .item > figure,h2 {
    padding-left: 2rem;
    text-align: left;
}

.items > .item > p {
    color: var(--grijs);
    font-size: 1rem;
    width: 18vw;
    height: 20vh;
    word-wrap: break-word;
    padding: 0rem 2rem 2rem 2rem;

}

.items > .item > h2 {
    color: var(--paars);
}


/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */